{% load media_tags %}
<!DOCTYPE html>

<html lang="it">
    <head>
    </head>
    <body>
        <h3>Ciao!</h3>

        <p>{{obj.author_name}} ti ha spedito un augurio da Fabriano.</p>

        <p>Lo puoi vedere all'indirizzo <a href="{{abs_fullurl}}">{{abs_fullurl}}</a></p>

<div class="wish-card wish-detail">
    <h3 class="item-divider wish-top ng-binding">{{obj.title}}</h3>
    <div class="item wish-cell wish-cell-preview" id="wish-{{obj.pk}}">
        {% preview obj %}
    </div>
    <div class="col wish-cell blue wish-cell-right">
        <div class="item wish-body blue">
            <em>{{obj.dedication}}</em>
        </div>
        <div class="item item-avatar wish-bottom blue">
        {% if obj.author_logo %}
            <img src="{{obj.author_logo}}">
        {% endif %}
        <em>{{obj.author_name}}</em>
               <p ></p>
    </div>
    </div>
</div>

<p>Questo servizio è offerto in modalità "best effort" all'interno del progetto <a href="http://www.fabrianodigital.it">FabrianoDigital</a>.</p>
    </body>
</html>
