{% extends "digitalxmas/base.html" %}
{% load staticfiles media_tags %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static "base/slick/slick.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "base/slick/slick-theme.css" %}" />
{% endblock %}

{% block content %}
<h2>Buon Natale Fabriano!</h2>
<p class="lead">Per il nostro territorio</p>

<div id="media-show" is_playing="false">
    {% for obj in object_list %}
        <div>{% player obj %}</h3></div>
    {% endfor %}
</div>

<div id="media-list">
    {% for obj in object_list %}
        <div class="media-thumbnail"><h3>{{ obj.title }}</h3></div>
    {% endfor %}
</div>

{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "//code.jquery.com/jquery-migrate-1.2.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "base/slick/slick.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('#media-show').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '#media-list'
          });
          /* $('iframe #player').click(function (e) {
              console.log('pipppo');
              if ($('#media-show').attr('is_playing') === "false") {
                  console.log('duuuuuupipppo');
                  $('#media-list').slick.autoPlayClear();
                  $('#media-show').attr('is_playing', "true");
              } else {
                  $('#media-list').slick.autoPlay();
                  $('#media-show').attr('is_playing', "false");
              }
          }); */
          $('#media-list').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 2000,
                asNavFor: '#media-show',
                centerMode: true,
                focusOnSelect: true,
                dots: true
          });
        });
  </script>
{% endblock %}
